name: 2.1.$(devops_buildNumber)

pr:
  branches:
    include:
    - master
    - dev
    - v3.x

trigger:
  branches:
    include:
    - dev
    - master

pool:
  vmImage: 'windows-latest'

variables:
  devops_buildNumber: $[counter(format(''), 1500)]

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'
  
- task: OneLocBuild@2
  enabled: true
  inputs:
    locProj: 'Build\Localize\LocProject.json'
    outDir: '$(Build.Repository.LocalPath)'
    packageSourceAuth: 'patAuth'
    patVariable: '$(ONELOCBUILD)'
    continueOnError: true

- task: CopyFiles@2
  enabled: true
  displayName: 'Copy Loc files to publish directories'
  inputs:
    SourceFolder: $(System.DefaultWorkingDirectory)/loc
    TargetFolder: $(Build.ArtifactStagingDirectory)

- task: PublishBuildArtifacts@1
  enabled: true
  displayName: 'Publish Artifact: loc'
  inputs:
    ArtifactName: 'loc'
    
- task: Npm@1
  inputs:
    command: 'install'
    workingDir: '.\Build'
  
- task: Gulp@1
  inputs:
    buildNumber: $(devops_buildNumber)
    gulpFile: '.\Build\gulpfile.js'
    targets: 'build-all'
    enableCodeCoverage: false
  
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.Repository.LocalPath)\bin\VS'
    Contents: '*.nupkg'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true
  
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.Repository.LocalPath)\bin'
    Contents: '*.zip'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: false

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      function GenerateIndexJson($ctx, $templateVersion, $fileRelativePath, $rootPath)
      {
      $filePath = Join-Path -Path $rootPath -ChildPath $fileRelativePath
      
      $json = @"   
          {
              "version": "$templateVersion",
              "commitId" : "$(Build.SourceVersion)"
          }
      "@

          Write-Host $filePath
          New-Item -Path $filePath -Force
          $json | Out-File -FilePath $filePath -Encoding ascii
          $blobName = "ExtensionBundleTemplates\build\" + $fileRelativePath
          Set-AzureStorageBlobContent -Container "public" -File $filePath -Blob $blobName -Context $ctx -Force
      }
      
      $rootPath = $pwd
      
      # Storage Context
      $ctx = New-AzureStorageContext -StorageAccountName "$(ACCOUNT_NAME)" -SasToken "$(ACCOUNT_KEY)"
      
      $files= Get-ChildItem -Recurse -Path "$(System.ArtifactsDirectory)"
      foreach($file in $files)
      {
          $fileName = $file.FullName.ToLower();
          if  ($fileName.Endswith(".zip") -and !$fileName.Contains("bundle"))
          {
              $fileFullName = $file.FullName
              $blobName = "TemplatesApi\" + $file.Name
              Write-Host "Uploading file:$fileFullName"
              Set-AzureStorageBlobContent -Container "public" -File $fileFullName -Blob $blobName -Context $ctx
          }

          if  ($fileName.Endswith(".zip") -and $fileName.Contains("bundle"))
          {
              $fileFullName = $file.FullName
              $blobName = "ExtensionBundleTemplates\" + $file.Name
              Write-Host "Uploading file:$fileFullName"
              Set-AzureStorageBlobContent -Container "public" -File $fileFullName -Blob $blobName -Context $ctx

              # upload version.file
              $name = $file.Name
              $bundleIdLength = $name.IndexOf(".Templates.") + 10
              $bundleId = $name.Substring(0,$bundleIdLength)

              $path = $bundleId + "\latest\version.json"

              $templateVersion = $name.Substring($bundleIdLength+1, 8)

              GenerateIndexJson $ctx $templateVersion $path $rootPath

          }
      }
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'